@import url(reset.css);
html,
body,
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header1 {
  width: 100%;
  height: 4.6rem;
  background-color: null;
  background-image: -webkit-linear-gradient(top, #fa6876, #f9394b);
}
.header1 .top {
  display: flex;
  flex-direction: row;
  margin: 0 .4rem;
  margin: .2rem .4rem;
}
.header1 .top span {
  display: block;
  color: #fff;
}
.header1 .top span:first-child {
  margin-right: .25rem;
}
.header1 .top span:first-child img {
  width: 0.36rem;
  height: auto;
  background-color: null;
}
.header1 .top span:nth-child(2) {
  flex: 1;
  padding-left: .17rem;
  border-left: 1px solid #ddd;
}
.header1 .cen {
  width: auto;
  height: auto;
  background-color: null;
  padding-left: 1.2rem;
  color: #fff;
  border-bottom: 1px solid #fb7c88;
}
.header1 .cen .c_p1 {
  margin-top: .4rem;
}
.header1 .cen .c_p2 {
  margin-top: .4rem;
  margin-bottom: .7rem;
}
.header1 .cen .c_p2 b {
  font-size: .4rem;
}
.header1 .cen .c_p2 a {
  color: #fff;
  text-decoration: underline;
  margin-left: .35rem;
}
.header1 .bottom ul {
  display: flex;
  flex-direction: row;
}
.header1 .bottom ul li {
  flex: 1;
  text-align: center;
  color: #fff;
}
.header1 .bottom ul li span {
  display: block;
}
.header1 .bottom ul li span:first-child {
  margin-top: .24rem;
}
.header1 .bottom ul li span:last-child {
  margin-top: .15rem;
  font-size: .4rem;
}
.section1 {
  overflow: auto;
}
.section1 .list .item {
  display: flex;
  flex-direction: row;
  height: 1.27rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.section1 .list .item span {
  display: block;
}
.section1 .list .item span:first-child img {
  width: 1.15rem;
  height: 1.19rem;
  background-color: null;
  margin-left: .4rem;
}
.section1 .list .item span:nth-child(2) {
  margin-left: .2rem;
  flex: 1;
}
.section1 .list .item span:last-child {
  margin-right: .4rem;
  width: 1rem;
  height: 0.4rem;
  background-color: null;
  box-sizing: border-box;
  border: 1px solid #f9384b;
  color: #f9384b;
  text-align: center;
}
